@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fira+Sans:wght@500&display=swap');

body {
    background: #b5b1b1;
}

p, label, span {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color:rgb(138, 137, 137);
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'Fascinate', cursive;
    font-size: 100px;
    color: #e7d6d5;
}

h2 {
    color:rgb(138, 137, 137);
    padding: 14px 0px;
    margin: 0;
    border-bottom: 2px solid rgb(198, 198, 198);
}

label {
    display: block;
    padding: 5px;
}

label > input {
    width: 70%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(163, 126, 2);
    background: #e2e2e2;
}

button {
    border: 1px solid rgb(163, 126, 2);
    color:rgb(138, 137, 137);
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background: none;
    transition: all 0.5s;
}

button:hover, .btn-active {
    cursor: pointer;
    background: rgb(163, 126, 2);
    color: white;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.plate {
    margin: auto;
    width: 50%;
    text-align: center;
}

.card {
    background: #f4f4f4;
    border: 1px solid rgb(206, 206, 206);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: 2px 2px 5px rgb(113, 113, 113);
}

.task {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgb(198, 198, 198);
    padding: 10px;
}

.task p {
    overflow-wrap: break-word;
    word-break: break-word;
    margin-right: 31px;
    text-align: left;
}

.task input {
    margin: 0px 15px;
    width: 30px;
    height: 30px;
}

.foot {
    margin: 10px;
    align-items: end;
    display: flex;
    justify-content: space-between;

}
.addtask {
    text-align: left;
}

.clear {
    margin-top: 5px;
    text-align: right;
}